:root {
    --el-font-weight-primary: 400 !important;
    --el-color-primary: #4949c9 !important;
}

.el-button--primary {
    --el-button-bg-color: #4949c9 !important;
    --el-button-border-color: #4949c9 !important;
    --el-button-hover-bg-color: rgb(128, 128, 217) !important;
    --el-button-hover-border-color: rgb(128, 128, 217) !important;
    --el-button-active-bg-color: rgb(62, 62, 165) !important;
    --el-button-active-border-color: rgb(62, 62, 165) !important;
}

html,
body,
#app {
    font-family: 'Source Han Sans SC', sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.main {
    height: 100%;
}

/* flex */
.flx {
    display: flex;
}

.flx-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flx-justify-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flx-align-center {
    display: flex;
    align-items: center;
}

.flx-right {
    justify-content: flex-end;
    margin-left: auto;
}

/* clearfix */
.clearfix::after {
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
    content: '';
}

/* 文字单行省略号 */
.sle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 文字多行省略号 */
.mle {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/* 文字多了自動換行 */
.break-word {
    word-break: break-all;
    word-wrap: break-word;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #dddee0;
    border-radius: 20px;
    box-shadow: inset 0 0 0 white;
}

.main-title {
    height: 22px;
    font-size: 16px;
    font-weight: 500;
    color: #222222;
    line-height: 22px;
    margin-bottom: 16px;
}

.table {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
}

.table .table-search {
    display: flex;
    margin-bottom: 10px;
}

.table .table-box .table-button .el-button {
    margin-bottom: 15px;
}

.table-header {
    height: 54px;
    background-color: #f5f5ff !important;
    border-radius: 4px 4px 0 0;
}

.table-header-item {
    height: 22px;
    background-color: inherit !important;
    font-size: 14px;
    font-weight: 500;
    color: #222222;
    line-height: 22px;
}

.header-button-lf {
    float: left;
}

.header-button-ri {
    float: right;
}

.card {
    border: 0 !important;
    border-radius: 8px !important;
}

.card .card-header .title {
    height: 24px;
    font-size: 16px;
    font-weight: 500;
    color: #222222;
    line-height: 24px;
}

.card-container {
    margin: 30px 0;
}

.margin-b-16 {
    margin-bottom: 16px;
}

.margin-b-40 {
    margin-bottom: 40px;
}

.margin-t-30 {
    margin-top: 30px;
}

.margin-t-60 {
    margin-top: 60px;
}
